<!-- <div class="container"> -->
    <h2>{{title}} </h2>
    <div class="row">

        <div class="col-md-9 col-md-offset-1">
            <igx-slider id="slider" [minValue]="100" [maxValue]="100000" [step]="100" [(ngModel)]="rowsCount"></igx-slider>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label igxLabel for="slider">Number of Rows : {{rowsCount}}</label>
        </div>

        <div class="col-md-4">
            <div class="button-sample-custom">
                <button igxButton="raised" igxRipple="white" (click)='rebindgrid()'>Rebind the grid</button>
            </div>
        </div>

    </div>

    <br/>
        <igx-grid #grid1 [autoGenerate]="false" [height]="'600px'" (onColumnInit)='initcolumn($event)'>
                <igx-column width="100px" field="Id" header="Id" dataType="number"></igx-column>
                <igx-column width="200px" field="Name" header="Name" dataType="string"></igx-column>
                <igx-column width="100px" field="Age" header="Age" dataType="number"></igx-column>
                <igx-column width="200px" field="BirthDay" header="Birthday" dataType="string"></igx-column>
                <igx-column width="200px" field="Street" header="Street" dataType="string"></igx-column>
                <igx-column width="200px" field="City" header="City" dataType="string"></igx-column>
                <igx-column width="200px" field="Phone" header="Phone" dataType="string"></igx-column>
                <igx-column width="200px" field="Country" header="Country" dataType="string"></igx-column>
                <igx-column width="200px" field="Language" header="Language" dataType="string"></igx-column>
                <igx-column width="200px" field="Sports" header="Sports" dataType="string"></igx-column>
        </igx-grid>
   
<!-- </div> -->