<h2 class="view-title">
    <span>{{title}}</span>
    <small class="view-title__samll">Rows : {{rows}} Columns :{{columns}}</small>
  </h2>
  
  <div class="contacts-theme">
    <igx-grid #grid1 id="grid1" [data]="tradeblottercdsindexentitities" [height]="'600px'" [autoGenerate]="false">
      <igx-column width="190px" field="TradeId" header="Trade Id" dataType="number"></igx-column>
      <igx-column width="220px" field="TradeDate" header="Trade Date" dataType="string"></igx-column>
      <igx-column width="190px" field="BuySell" header="Buy Sell" dataType="string"></igx-column>
      <igx-column width="190px" field="Notional" header="Notional" dataType="number"></igx-column>
      <igx-column width="190px" field="Currency" header="Currency" dataType="string"></igx-column>
      <igx-column width="190px" field="IndexName" header="Index Name" dataType="string"></igx-column>
      <igx-column width="190px" field="Series" header="Series" dataType="string"></igx-column>    
      <igx-column width="190px" field="EffectiveDate" header="Effective Date" dataType="string"></igx-column>
      <igx-column width="250px" field="Counterparty" header="Counter party " dataType="string"></igx-column>
      <igx-column width="190px" field="MaturityDate" header="Maturity Date" dataType="string"></igx-column>
      <igx-column width="190px" field="RedCode" header="Red Code" dataType="string"></igx-column>
    
      <igx-column width="190px" field="Trader" header="Trader" dataType="string"></igx-column>
      <igx-column width="190px" field="Status" header="Status" dataType="string"></igx-column>
    </igx-grid>
  </div>
  
  