/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.grid__wrapper {
    @include igx-grid($grid-sample-theme);
    @include igx-progress-linear($progressBar-sample-theme);
    width: 1000px;
    margin: 0 auto;
  }

  .button-sample-custom {
    display: flex;
    flex: 1 0 30%;
    margin-top: 14px;
    margin-bottom: 48px;
}

.content-wrap
{
    width: 100%;
    height: 100%;
    display: flex;
}