<h2>{{title}}</h2>

<igx-grid height="800px"  [data]="visaStockEntities">
        <igx-column width="150px" field="VDate" header="Date" dataType="string"></igx-column>
        <igx-column width="150px" field="Open" header="Open" dataType="number"></igx-column>
        <igx-column width="150px" field="High" header="High" dataType="number"></igx-column>
        <igx-column  width="150px" field="Low" header="Low" dataType="number"></igx-column>
        <igx-column  width="150px" field="Close" header="Close" dataType="number"></igx-column>
        <igx-column width="150px" field="Volume" header="Volume" dataType="string"></igx-column>
        <igx-column width="150px" field="Dividend" header="Dividend" dataType="number"></igx-column>
        <igx-column width="150px" field="Split" header="Split" dataType="number"></igx-column>
        <igx-column  width="150px" field="" header="-" dataType="string"></igx-column>
        <igx-column  width="150px" field="Ask" header="Ask" dataType="number"></igx-column>
        <igx-column width="150px" field="Bid" header="Bid" dataType="number"></igx-column>
        <igx-column width="150px"field="" header="+" dataType="string"></igx-column>
        <igx-column width="150px" field="AdjOpen" header="Adj_Open" dataType="number"></igx-column>
        <igx-column width="150px" field="AdjHigh" header="Adj_High" dataType="number"></igx-column>
        <igx-column width="150px"field="AdjLow" header="Adj_Low" dataType="number"></igx-column>
        <igx-column width="150px" field="AdjClose" header="Adj_Close" dataType="number"></igx-column>
        <igx-column width="150px" field="AdjVolume" header="Adj_Volume" dataType="number"></igx-column>
        <!-- <igx-column field="Split" header="Split" dataType="string">
            <ng-template igxCell let-cell="cell">
                        <div class="cell__inner_2">
                          <span>
                            <img [src]="cell.row.rowData.Flag" class="flag" /> {{cell.value}}
                          </span>
                        </div>
            </ng-template>
        </igx-column> -->
       
</igx-grid>