<h2>{{title}}</h2>

<igx-grid  [data]="visaStockEntities">
        <igx-column field="VDate" header="Date" dataType="string"></igx-column>
        <igx-column field="Open" header="Open" dataType="number"></igx-column>
        <igx-column field="High" header="High" dataType="number"></igx-column>
        <igx-column field="Low" header="Low" dataType="number"></igx-column>
        <igx-column field="Close" header="Close" dataType="number"></igx-column>
        <igx-column field="Volume" header="Volume" dataType="string"></igx-column>
        <igx-column field="Dividend" header="Dividend" dataType="number"></igx-column>
        <igx-column field="Split" header="Split" dataType="number"></igx-column>
        <igx-column field="" header="-" dataType="string"></igx-column>
        <igx-column field="Ask" header="Ask" dataType="number"></igx-column>
        <igx-column field="Bid" header="Bid" dataType="number"></igx-column>
        <igx-column field="" header="+" dataType="string"></igx-column>
        <igx-column field="AdjOpen" header="Adj_Open" dataType="number"></igx-column>
        <igx-column field="AdjHigh" header="Adj_High" dataType="number"></igx-column>
        <igx-column field="AdjLow" header="Adj_Low" dataType="number"></igx-column>
        <igx-column field="AdjClose" header="Adj_Close" dataType="number"></igx-column>
        <igx-column field="AdjVolume" header="Adj_Volume" dataType="number"></igx-column>
        <!-- <igx-column field="Split" header="Split" dataType="string">
            <ng-template igxCell let-cell="cell">
                        <div class="cell__inner_2">
                          <span>
                            <img [src]="cell.row.rowData.Flag" class="flag" /> {{cell.value}}
                          </span>
                        </div>
            </ng-template>
        </igx-column> -->
       
</igx-grid>